<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" throwException="true"   autoReload="true"
      internalLogLevel="Warn" internalLogFile="Internal_Nlog_Exceptions.log">

  <extensions>
    <add assembly="NLog.Targets.RabbitMQCore"/>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <targets async="true">
    <target name="rabbitmq"
            xsi:type="RabbitMQ"
            username="guest"
            password="guest"
            hostname="localhost"
            exchange="app-logging"
            port="5672"
            vhost="/"
            durable="true"
            useJson="true"
            layout="${date} 
                    ${level}
                    ${machinename} 
                    ${stacktrace} 
                    ${exception}
                    ${time}
                    ${aspnet-MVC-Action} 
                    ${aspnet-MVC-Controller}
                    ${aspnet-request-host}
                    ${aspnet-request-method}
                    ${aspnet-request-url:IncludePort=true:IncludeQueryString=true}
                    ${aspnet-request-ip}
                    ${event-properties:item=response-size}     
                    ${event-properties:item=request-size}
                    ${event-properties:item=protocol}
                    ${event-properties:item=operationid}
                    ${iis-site-name} 
                    
            "
    >

    </target>

    <target name="filelog"
            xsi:type="File"
            fileName="testlog123.txt"
            layout="
                   date = ${date} 
                   level = ${level}
                   machinename = ${machinename} 
                   stacktrace = ${stacktrace} 
                   exception = ${exception}
                   time = ${time}
                   httpcode = ${event-properties:item=httpcode}     
                   response-size = ${event-properties:item=response-size}     
                   request-size = ${event-properties:item=request-size}
                   protocol = ${event-properties:item=protocol}
                   operationid = ${event-properties:item=operationid}
                   MVC-Action = ${aspnet-MVC-Action} 
                   MVC-Controller = ${aspnet-MVC-Controller}
                   host =  ${aspnet-request-host}
                   method = ${aspnet-request-method}
                   url = ${aspnet-request-url:IncludePort=true:IncludeQueryString=true}
                   ip = ${aspnet-request-ip}
                   site-name = ${iis-site-name} 
            "
    >

    </target>
  </targets>
  <rules>
    <logger name="file" minlevel="Trace" writeTo="filelog" />
  </rules>
</nlog>